<%def money(num)
  "$#{num.gsub(/\d(?=(...)+$)/, '\0,')}"
end
%>
<form action="/portworx-precio" method="get">
<div class="container">
<!--CLUSTER IKS/OCP-->
  <div class="row">
    <div class="col-md-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Clúster 1 IKS/OCP</h5>
        </div>
        <div class="ibox-content">
          <h5>NOTAS:*Los precios lista que se presentarán son calculados y pueden variar respecto a los presentados en IBM Cloud en +-1%</h5>
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th>Parámetro</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tipo de Clúster</td>
                  <td>
                    <select name="cluster_type_prod" id="cluster_type_prod">
                      <option value="iks">Kubernetes</option>
                      <option value="ocp">Openshift</option>
                  </td>
                </tr>
                <tr>
                  <td>Worker Nodes (min 3)</td>
                  <td>
                    <label for="wn_prod"><input type="number" id="wn_prod" name="wn_prod" value="3" min="3">
                    </td>
                  </tr>
                  <tr>
                    <td>Tipo de infraestructura</td>
                    <td>
                      <select name="infra_type_prod" id="infra_type_prod">
                        <option value="dedicated">Dedicado</option>
                        <option value="shared">Compartido</option>
                        <option value="bm">Bare Metal</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Flavor (min 16x64)</td>
                    <td>
                      <select name="flavor_prod" id="flavor_prod">
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Región</td>
                    <td>
                      <select name="region_cluster_prod" id="region_cluster_prod">
                        <option value="mexico">México</option>
                        <option value="dallas">Dallas</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Clúster 2 IKS/OCP</h5>
        </div>
        <div class="ibox-content">
          <h5>NOTAS:*Los precios lista que se presentarán son calculados y pueden variar respecto a los presentados en IBM Cloud en +-1%</h5>
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th>Parámetro</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tipo de Clúster</td>
                  <td>
                    <select name="cluster_type_dr" id="cluster_type_dr">
                      <option value="iks">Kubernetes</option>
                      <option value="ocp">Openshift</option>
                  </td>
                </tr>
                <tr>
                  <td>Worker Nodes (min 3)</td>
                  <td>
                    <label for="wn_dr"><input type="number" id="wn_dr" name="wn_dr" value="3" min="3">
                    </td>
                  </tr>
                  <tr>
                    <td>Tipo de infraestructura</td>
                    <td>
                      <select name="infra_type_dr" id="infra_type_dr">
                        <option value="dedicated">Dedicado</option>
                        <option value="shared">Compartido</option>
                        <option value="bm">Bare Metal</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Flavor (min 16x64)</td>
                    <td>
                      <select name="flavor_dr" id="flavor_dr">
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Región</td>
                    <td>
                      <select name="region_cluster_dr" id="region_cluster_dr">
                        <option value="mexico">México</option>
                        <option value="dallas">Dallas</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
</div>

<!--BLOCK STORAGE-->
<div class="row">

    <div class="col-md-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Clúster 1 Block Storage</h5>
        </div>
        <div class="ibox-content">
          <h5>NOTAS:*Los precios lista que se presentarán son calculados y pueden variar respecto a los presentados en IBM Cloud en +-1%</h5>
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th>Parámetro</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Storage GB</td>
                  <td>
                    <label for="storage_block"><input type="number" id="storage_block" name="storage_block">
                    </td>
                  </tr>
                  <tr>
                    <td>IOPS</td>
                    <td>
                      <select name="iops" id="iops">
                        <option value=".25">0.25 IOPS/GB</option>
                        <option value="2">2 IOPS/GB</option>
                        <option value="4">4 IOPS/GB</option>
                        <option value="10">10 IOPS/GB</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>

<!--DATABASE FOR ETCD-->
    <div class="col-md-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Clúster 1 DB for ETCD</h5>
        </div>
        <div class="ibox-content">
          <h5>NOTAS:*Los precios lista que se presentarán son calculados y pueden variar respecto a los presentados en IBM Cloud en +-1%</h5>
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th>Parámetro</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>Ram GB (min 8)</td>
                    <td>
                    <label for="ram_etcd"><input type="number" id="ram_etcd" name="ram_etcd" value="8" min="8">
                    </td>
                  </tr>
                  <tr>
                    <td>Storage GB (min 128)</td>
                    <td>
                    <label for="storage_etcd"><input type="number" id="storage_etcd" name="storage_etcd" value="128" min="128">
                    </td>
                  </tr>
                  <tr>
                    <td>Cores (min 3)</td>
                    <td>
                    <label for="cores"><input type="number" id="cores" name="cores" value="3" min="3"> 
                    </td>
                  </tr>
                  <tr>
                    <td>Región</td>
                    <td>
                      <select name="region_etcd" id="region_etcd">
                        <option value="dallas">Dallas</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>

</div>

<button type="submit" class="btn btn-outline btn-primary">Quiero mi dimensionamiento</button>
</form>

<!--%=respuesta%-->
<% if (respuesta != nil and respuesta.size>0) then%>
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Dimensionamiento de portworx</h5>
        </div>
        <div class="ibox-content">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Servicio</th>
                <th>Precio Total Mensual (USD)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cluster Productivo</td>
                <td>$<%= respuesta[0]["cluster_prod"]["precio"] %> USD</td>
              </tr> 
              <tr>
                <td>Cluster DR</td>
                <td>$<%= respuesta[0]["cluster_dr"]["precio"] %> USD</td>
              </tr>
              <tr>
                <td>Portworx Productivo</td>
                <td>$<%= respuesta[0]["portworx_prod"]["precio"] %> USD</td>
              </tr>
              <tr>
                <td>Portworx DR</td>
                <td>$<%= respuesta[0]["portworx_dr"]["precio"] %> USD</td>
              </tr>
              <tr>
                <td>Block Storage</td>
                <td>$<%= respuesta[0]["block_storage"]["preciounidadrestante"] %> USD</td>
              </tr>
              <tr>
                <td>Database for ETCD (2)</td>
                <td>$<%= respuesta[0]["db_etcd"]["precio"] * 2%> USD</td>
              </tr>
              <tr>
                <td>Total: </td>
                <td>$<%= respuesta[0]["preciototal"] %> USD</td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Desglose de servicios:</h5>
        </div>
        <div class="ibox-content">
          <h4>Clusteres: </h4>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Parámetro</th>
                <th>Valor Cluster Productivo</th>
                <th>Valor Cluster DR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Flavor</td>
                <td><%= respuesta[0]["cluster_prod"]["flavor"] %> </td>
                <td><%= respuesta[0]["cluster_dr"]["flavor"] %> </td>
              </tr> 
              <tr>
                <td>Tipo de infraestructura</td>
                <td><%= respuesta[0]["cluster_prod"]["infra_type"] %> </td>
                <td><%= respuesta[0]["cluster_dr"]["infra_type"] %> </td>
              </tr> 
              <tr>
                <td>Región</td>
                <td><%= respuesta[0]["cluster_prod"]["region"] %> </td>
                <td><%= respuesta[0]["cluster_dr"]["region"] %> </td>
              </tr> 
              <tr>
                <td>Worker Nodes</td>
                <td><%= respuesta[0]["cluster_prod"]["workers"] %> </td>
                <td><%= respuesta[0]["cluster_dr"]["workers"] %> </td>
              </tr>
              <tr>
                <td>Precio</td>
                <td>$<%= respuesta[0]["cluster_prod"]["precio"] %> USD</td>
                <td>$<%= respuesta[0]["cluster_dr"]["precio"] %> USD</td>
              </tr>
            </tbody>
          </table>
          <h4>Block Storage: </h4>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Parámetro</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>IOPS</td>
                <td><%= respuesta[0]["block_storage"]["iops"] %> </td>
              </tr> 
              <tr>
                <td>Almacenamiento (GB)</td>
                <td><%= respuesta[0]["block_storage"]["unidadrestante"] %> </td>
              </tr> 
                <td>Precio</td>
                <td>$<%= respuesta[0]["block_storage"]["preciounidadrestante"] %> USD</td>
              </tr>
            </tbody>
          </table>
          <h4>Databases for ETCD (2)</h4>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Parámetro</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>RAM (GB)</td>
                <td><%= respuesta[0]["db_etcd"]["ram"] %> </td>
              </tr> 
              <tr>
                <td>Almacenamiento (GB)</td>
                <td><%= respuesta[0]["db_etcd"]["storage"] %> </td>
              </tr>
              <tr>
                <td>Cores</td>
                <td><%= respuesta[0]["db_etcd"]["cores"] %> </td>
              </tr>  
              <tr>
                <td>Región</td>
                <td><%= respuesta[0]["db_etcd"]["region"] %> </td>
              </tr>  
                <td>Precio</td>
                <td>$<%= respuesta[0]["db_etcd"]["precio"] %> USD</td>
              </tr>
              </tr>  
                <td>Total de las 2 instancias</td>
                <td>$<%= respuesta[0]["db_etcd"]["precio"] * 2 %> USD</td>
              </tr>
            </tbody>
          </table>
          <h4>Portworx: </h4>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Parámetro</th>
                <th>Valor Cluster Productivo</th>
                <th>Valor Cluster DR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Worker Nodes</td>
                <td><%= respuesta[0]["portworx_prod"]["workers"] %> </td>
                <td><%= respuesta[0]["portworx_dr"]["workers"] %> </td>
              </tr> 
              <tr>
                <td>Tipo de infraestructura</td>
                <td><%= respuesta[0]["portworx_prod"]["tipo"] %> </td>
                <td><%= respuesta[0]["portworx_dr"]["tipo"] %> </td>
              </tr> 
              <tr>
                <td>Región</td>
                <td><%= respuesta[0]["portworx_prod"]["region"] %> </td>
                <td><%= respuesta[0]["portworx_dr"]["region"] %> </td>
              </tr> 
              <tr>
                <td>Precio</td>
                <td>$<%= respuesta[0]["portworx_prod"]["precio"] %> USD</td>
                <td>$<%= respuesta[0]["portworx_dr"]["precio"] %> USD</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>


  <div class="row">
    <div class="col-12 text-center">
      <form action="/menu" method="get">
        <button type="submit" class="btn btn-outline btn-primary">Regresar</button>
      </form>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#infra_type_prod").change(function () {
          var val = $(this).val();
          if (val == "shared" || val == "dedicated") {
              $("#flavor_prod").html("<option value='16x64'>16x64</option>");
          } else {
              $("#flavor_prod").html("<option value='mb4c.20x64'>mb4c.20x64</option>");
          }
      });

      $("#infra_type_dr").change(function () {
          var val = $(this).val();
          if (val == "shared" || val == "dedicated") {
              $("#flavor_dr").html("<option value='16x64'>16x64</option>");
          } else {
              $("#flavor_dr").html("<option value='mb4c.20x64'>mb4c.20x64</option>");
          }
      });

    });
  </script>
